<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-smarttv-http" version="0.0.1">
    <name>SmartTvHttp</name>
    <description></description>
    <license>Apache 2.0</license>
    <keywords></keywords>
    <js-module src="www/SmartTvHttp.js" name="SmartTvHttp">
        <clobbers target="SmartTvHttp" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="okhttp-3.10.0.jar" target-dir="libs" />
        
        <source-file src="src/android/com/celiorodrigues/SmartTvHttp/SmartTvHttp.java" target-dir="src/com/celiorodrigues" />
        <source-file src="src/android/com/celiorodrigues/SmartTvHttp/SmartTvHttpGet.java" target-dir="src/com/celiorodrigues" />
        <source-file src="src/android/com/celiorodrigues/SmartTvHttp/SmartTvHttpPost.java" target-dir="src/com/celiorodrigues" />
    </platform>
</plugin>