<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-smarttv-http" version="0.0.1">
    <name>SmartTvHttp</name>
    <description></description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/SmartTvHttp.js" name="SmartTvHttp">
        <clobbers target="SmartTvHttp" />
    </js-module>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="SmartTvHttp" >
                <param name="android-package" value="com.celiorodrigues.SmartTvHttp"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <framework src="com.squareup.okhttp3:okhttp:3.10.0" />
        
        <source-file src="src/android/com/celiorodrigues/SmartTvHttp.java" target-dir="src/com/celiorodrigues" />
        <source-file src="src/android/com/celiorodrigues/SmartTvHttpGet.java" target-dir="src/com/celiorodrigues" />
        <source-file src="src/android/com/celiorodrigues/SmartTvHttpPost.java" target-dir="src/com/celiorodrigues" />

    </platform>
</plugin>